# Main Folders
!/Assets/**/*.meta
/Library/
/Temp/
/Builds/
/Logs/
Plugins/

# Visual Studio
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Builds
*.apk
*.unitypackage
